<!DOCTYPE html>
<html>
  <head>
    <title>F4Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<!-- menubar -->
	<div id="menubar">
		<%= link_to 'home', '/' %>
    <%= link_to 'sign up', new_user_path %>
		<%= link_to 'settlements', settlements_path %>
  	<%= link_to 'items', '#' %>
  </div>



  <body>
    <%= yield %>
  </body>
</html>
