<!DOCTYPE html>
<html>
  <head>
    <title>F4Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
<!-- menubar -->

	<div id="menubar">
    <ul class="menubar">
      <li> <%= link_to 'home', '/', class: 'left-links' %> </li>
      <li> <%= link_to 'settlements', settlements_path, class: 'left-links' %> </li>
      <li> <%= link_to 'items', '#', class: 'left-links' %> </li>
    <% if current_user %>
      <li> <%= link_to 'logout', '/logout', class: 'right-links' %> </li>
      <% else %>
      <li> <%= link_to 'sign up', new_user_path, class: 'right-links' %> </li>
      <li> <%= link_to 'login', login_path, class: 'right-links' %> </li>
    <% end %>

    </ul> <!-- ul menubar  -->
  </div>  <!-- div menubar -->


  <body id="main-body">
    <%= yield %>
  </body>
</html>
